<!DOCTYPE html>
<html>
<head>  
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" Content="TEXT/HTML, charset-utf-8">
<meta http-equiv="Expires" content="0">
<meta http-equiv="Last-Modified" content="0">
<meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
<meta http-equiv="Pragma" content="no-cache">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='/style.css') }}" media="all">



</head>
<body background="/static/fondo.jpg">

    <header class="header">
        <div class="MENU">
            <div class="wrapper">
                <div class="logo">  Alianza Quetzal - SpaceApps - NASA</div>
              
            </div>
             </div>
        </header>

        <div class="row">
            <div class="column">
                <div class="resultados">
                    <h1>SCAN RESULTS</h1>
                    <table>

                          <td><h3>DECONTAMINATED AREAS:</h3></td>
                          <td><h2>{{ variable4 }}</h2></td>
                        </tr>
                        <tr>
                          <td><h3>CONTAMINATED AREAS:</h3></td>
                          <td><h2>{{ variable5 }}</h2></td>
                        </tr>
                        <tr>
                          <td><h3>STATUS: </h3></td>
                          <td><h2 name="status">{{ variable6 }}</h2></td>
                        </tr>
                      </table>
                      <table>
                          <tr>
                              <th><H3>RECOMMENDATION: </H3></th>
                              <td><h2>{{recc}}</h2></td>
                          </tr>
                      </table>
                      <div id="chartContainer" style="height: 50%; width: 80%; "></div>
                </div>            
            </div>
        <div class="column" >
            <div class="resultados">
                <h1>SCANNED PRODUCT</h1>
                <div class="imgg">
                    <img src="/static/conteo.png" width="70%" height="50%">
                </div>
                <div class="btn">
                    <a class="neon" href="" on" onclick="validar()">SEND PRODUCT</a>
                    <a class="neon" href="">SCAN AGAIN</a>
                </div>
                </div>
            </div>
            </div>
           
    </div>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

    <script>
        window.onload = function() {
        
        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            backgroundColor: "transparent",
            data: [{
                theme: "dark1",
                zoomEnabled: true,
                type: "pie",
                startAngle: 240,
                yValueFormatString: "0.#\"%\"",
                indexLabel: "{label} {y}",
                indexLabelFontSize: 15,
                indexLabelFontColor: "white",
                indexLabelFontStyle: "bold",
                is3D:true,

                dataPoints: [
                
                    {y: {{variable}}, label: "INFECTED"},
                    {y: {{variable2}}, label: "DISINFECTED"},
                ]
            }]
        });
        chart.render();
        }

function validar(){
    if({{variable}}>10){
        alert("infected product, cannot be shipped");
    }
}


</script>

</body>
</html>