<html>
<body>
    <h1>Bienvenidos al inicio</h1>
</body>
</html>

     <h1>Resultados</h1>
                        <h2>Riesgo de infeccion: {{ variable }} %</h2>
                        <h2>Areas detectadas: {{ variable1 }} </h2>
                        <h2>Promedio descontaminado: {{ variable2 }} %</h2>
                        <h2>Promedio descontaminado: {{ variable3 }} %</h2>
                        <img src="/static/1.jpeg" width="400px">

                             <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">